.worksystem-container {
    margin: 0 10%;
}

.worksystem-image img {
    margin: 0 auto;
    border: 5px solid #98afc7;
    border-radius: 50%;
    padding: 15px;
    background: #98afc7;
}

.worksystem-image img:hover {
    background-color: #7e3817;
    border-color: #7e3817;
}

.worksystem-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 767px) {
    .worksystem-cards {
        grid-template-columns: 1fr;
    }
}
