.text-blue-personal {
    color: #7FA7D7;
}
.global-blue-bg{
    background-color: #7FA7D7;
}
.secondary-bg{
    background-color: #7E3817;
}
.hover-global-blue-bg:hover{
    background-color: #7FA7D7;
}
.text-secondary-color{
    color: #7E3817;
}

.text-ashtype{
    color: #777777;
}

.ador-regular{
    font-family: ador-regular, sans-serif;
}
.ador-bold{
    font-family: ador-bold, sans-serif;
}
.ador-italic{
    font-family: ador-italic, sans-serif;
}
.ador-extralight{
    font-family: ador-extralight, sans-serif;
}
*{
    font-family: ador-regular, sans-serif;
}
